/* https://medium.com/@kevstrosky/theme-colors-with-tailwind-css-v4-0-and-next-themes-dark-light-custom-mode-36dca1e20419 */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import "tailwindcss";

/* custom variant for dark theme dark:bg-red-500 */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant custom (&:where([data-theme=custom], [data-theme=custom] *));


/* define colors for different theme names */
@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-tertiary: #8b5cf6;
  /* --color-orange-500: #ff7a00; */

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  /* --breakpoint-md2: 1000px; */
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* --font-display: 'Raleway', sans-serif; */

  
}

/* custom bg-background, foreground, primary, secondary, tertiary etc.. */
@layer base {
  [data-theme="light"] {
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-tertiary: #8b5cf6;
  }
  [data-theme="dark"] {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-primary: #1a2627;
    --color-secondary: #34d399;
    --color-tertiary: #a78bfa;
  }
  [data-theme="custom"] {
    --color-background: #14144d;
    --color-foreground: #9b1414;
    --color-primary: #00ffbf;
    --color-secondary: #ff00ff;
    --color-tertiary: #ffff00;
  }
}

@layer base {
  body {
    /* @apply bg-background text-foreground */
  }
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

/* @layer base {
  :root {
    --font-reckless-neue: 'RecklessNeue-Thin';
    --font-neutral-face: 'NeutralFaceRegular';
    --font-fermino: 'Fermino-Regular';
  }
}

@layer utilities {
  .font-reckless {
    font-family: var(--font-reckless-neue) !important;
  }
  .font-neutral {
    font-family: var(--font-neutral-face) !important;
  }
  .font-fermino {
    font-family: var(--font-fermino) !important;
  }
} */

.localfont1 {
  font-family: var(--font-local-font-1) !important;
}

.localfont2 {
  font-family: var(--font-local-font-2) !important;
}

.localfont3 {
  font-family: var(--font-local-font-3) !important;
}

/* imported font use */
.cf2 {
  @apply font-['Raleway']
}

/* testing border class */
.tb {
  /* @apply border border-foreground */
}

/* smooth css transition  */
.trans1 {
  @apply duration-150 ease-linear transition-all
}

/* put items at center */
.flex-c-c {
  @apply flex flex-col items-center justify-center
}


/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */

.radius-1 {
  @apply rounded-lg
}

.heading1 {
  @apply text-[min(20vw,200px)] font-medium tracking-tighter
}

.heading2 {
  @apply text-[min(10vw,100px)]
}

.heading3 {
  @apply text-[min(6vw,100px)]
}

.paragraph1 {
  @apply text-[min(5vw,40px)] font-extralight
}

.paragraph2 {
  @apply text-[min(4vw,18px)] font-extralight
}

/* used for flow cards */
.paragraph3 {
  @apply text-xs md:text-sm text-base
}


.buttonText {
  @apply text-base md:text-lg font-medium
}

/* media screen landscape and width less than 900 px and height less than 600 px */
@media (orientation: landscape) and (max-width: 1024px) and (max-height: 500px) {
  .Heading1 {
    @apply text-5xl
  }
  .Heading2 {
    @apply text-3xl
  }
  .Heading3 {
    @apply text-3xl
  }
  .Paragraph1 {
    @apply text-sm
  }
  .Paragraph2 {
    @apply text-sm
  }
  .Paragraph3 {
    @apply text-sm
  }
}

/* //////////////////////////////////////////////////////////////////////// */


html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-track {
  background-color: var(--background);
}

html::-webkit-scrollbar-thumb {
  background-color: #353535;
}



@keyframes revealButton {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.animate-reveal-button {
  animation: revealButton 0.5s ease-out forwards;
}

.sectionSixDesc {
  animation: slideUpFadeIn 0.5s ease-out forwards;
  /* transition: all 0.5s ease-out; */
  opacity: 0;
  transform: translateY(10px);
}


@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}